body, html{
  height:100%;
background-image: url("floor.jpg");
background-repeat: no-repeat;
background-size: 100vmax;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited{
  color: #ffc208;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #222221;
}
.title, a:hover{
  background-color: #ffc208;
  color: black;
}
.dancer{
height: 200px;
width: auto;
  position:absolute;
}

.title, .addDancerButton,.hide, .lineUp, .Pairing, audio{
  z-index: 3;
  text-decoration: none;
}

.bouncing {
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}

.sliding{
  animation: slide 0.5s infinite alternate;
  -webkit-animation: slide 0.5s infinite alternate;
}

@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100px);
  }
}
@-webkit-keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100px);
  }
}

.hide, .lineUp, .Pairing, audio{
  padding:5px 12px;
  float: left;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg)
  }
}

audio {
  filter: sepia(150%) saturate(90%) grayscale(50) contrast(150%) invert(30%);
  width: 400px;
  height: 20px;
}